<div class="card mb-3">
    <div class="card-body">
        <!--Header-->
        <div class="row mb-3">
            <div class="col">
                <div class="row">
                    <img class="img-circle subreddit-icon" ng-src="{{$ctrl.about.icon_img}}" ng-if="$ctrl.about.icon_img != ''" />
                    <default-icon color="$ctrl.about.primary_color" ng-if="$ctrl.about.icon_img == ''" />
                    <h5>{{$ctrl.about.url}}</h5>
                </div>
            </div>
        </div>

        <!--Subcriber\Active-->
        <div class="row mb-3">
            <div class="col">
                <span>{{$ctrl.about.active_user_count | bignumber }}</span>
                <br />
                <small>Online</small>
            </div>
            <div class="col">
                <span>{{$ctrl.about.subscribers | bignumber }}</span>
                <br />
                <small>Subscribers</small>
            </div>
        </div>

        <!--Description-->
        <div class="row mb-3">
            <div class="col">
                <span>{{$ctrl.about.public_description}}</span>
            </div>
        </div>

        <!--Subscribed-->
        <div class="row">
            <div class="col">
                <button class="btn btn-block btn-primary btn-subscribe" ng-class="{'btn-subscribe-outline': $ctrl.about.user_is_subscriber}">
                    {{$ctrl.about.user_is_subscriber? 'Subscribed' : 'Subscribe'}}
                </button>
            </div>
        </div>

        <!--<span ng-bind-html="$ctrl.about.description_html"></span>-->
    </div>
</div>


<div class="card mb-4" ng-if="$ctrl.rules.length !== 0">
    <div class="card-header" ng-style="{'background-color': $ctrl.about.primary_color}" ng-class="{'text-white': $ctrl.about.primary_color != ''}">
        Rules
    </div>
    <div class="card-body">
            <div ng-repeat="n in $ctrl.rules" class="mb-2">
                <div class="d-flex">
                    <div class="flex-grow-1">
                        {{n.priority + 1}}. {{n.short_name}}
                    </div>
                    <a href="" ng-click="$ctrl.toggleRule(n)">
                        <i class=" material-icons align-middle">keyboard_arrow_down</i>
                    </a>
                </div>
                <div ng-bind-html="n.description | markdown" ng-if="n.show" class="text-muted"></div>
            </div>
    </div>
</div>

<div class="card footer">
    <div class="card-body">
        Footer
    </div>
</div>
