<div class="post-comment" ng-click="$ctrl.collapse($event)">

    <!--Comment-->
    <div class="d-flex">
        <post-like ups="$ctrl.comment.ups" name="$ctrl.comment.name" />
        <div class="col mb-3">
            <span class="text-muted">
                <span ng-class="{'badge badge-primary badge-pill' : $ctrl.comment.is_submitter}">{{$ctrl.comment.author}}</span><i ng-if="$ctrl.comment.is_submitter" class="material-icons align-middle">keyboard_voice</i>
                <span am-time-ago="$ctrl.comment.created_utc | amFromUnix"></span>
            </span>
            <br />
            <span ng-bind-html="$ctrl.comment.body | markdown"
                  ng-hide="$ctrl.isCollapsed"></span>

            <span class="text-muted font-weight-bold" ng-if="$ctrl.isCollapsed">Hidden - {{$ctrl.comment.replies.data.children.length}} comment(s)</span>
            <div class="comment-actions">
                <a href="" ng-click="$ctrl.openReply()">Reply</a>
                <a href="">Share</a>
                <a href="">Report</a>
                <a href="">Save</a>
                <a href="">Give Gold</a>
            </div>
          
            <div ng-if="$ctrl.showReply">
                <hr />
                <textarea class="form-control form-group">

                </textarea>
                <button class="btn btn-primary">Reply</button>
            </div>
        </div>
    </div>

    <div class="comment-collapse-fade" ng-hide="$ctrl.isCollapsed">
        <!--Children-->
        <app-subreddit-comment ng-repeat-start="c in $ctrl.comment.replies.data.children"
                               comment="c.data"
                               depth="$ctrl.depth + 1"
                               link="$ctrl.link"
                               ng-if="c.kind !== 'more'"
                               class="mb-2" />

        <!--More Comment-->
        <div class="more-comments" ng-repeat-end ng-if="c.kind == 'more' && c.data.count > 0">
            <div class="post-comment">
                <button class="btn btn-link" ng-click="$ctrl.clickMore(c)">More Comments ({{c.data.count}})</button>
                <!--TODO HOW TO OPEN MORE COMMENTS-->
            </div>
        </div>
    </div>

</div>