<div class="container-fluid container-lg content-main subreddit">
    <div class="row">
        <div class="col mb-3">
            <img class="mx-auto d-block" ng-src="{{$ctrl.about.header_img}}" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-lg-3">
            <!--Hamburger bar?? Idk-->
        </div>
        <div class="col flex-grow-1">
            <div ng-repeat="p in $ctrl.placeholders">
                <div class="card subreddit-card-placeholder mb-3">
                    <div class="card-img-top"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="title mb-3"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="sub-title"></div>
                            </div>
                            <div class="col">
                                <div class="sub-title"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="p in $ctrl.posts">
                <app-subreddit-cardview post="p.data" />
            </div>

            <button class="btn btn-link float-right mb-3" ng-click="$ctrl.next()">NEXT</button>
        </div>

        <app-subreddit-sidebar about="$ctrl.about" rules="$ctrl.rules" class="subreddit-sidebar col-padded" />
    </div>

    <ui-view />

</div>