<div class="card subreddit-cardview form-group" ui-sref=".post({subreddit: $ctrl.post.subreddit, id:$ctrl.post.id, post: $ctrl.post})">
    <div class="card-img-top" ng-if="$ctrl.post.preview.images.length > 0">
        <img ng-src="{{$ctrl.post.preview.images[0].source.url}}" class="card-img" />
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col flex-grow">
                <a class="card-post-title" ng-class="{'text-muted': $ctrl.post.clicked === true}">{{$ctrl.post.title}}</a>
                <br />
                <div class="text-muted card-misc-info">
                    <span>/u/{{$ctrl.post.author}}</span>
                    <span>{{$ctrl.post.domain}}</span>
                    <span>/r/{{$ctrl.post.subreddit}}</span>
                    <span am-time-ago="$ctrl.post.created_utc | amFromUnix"></span>
                </div>
                <div class="card-actions">
                    <a>Comments ({{$ctrl.post.num_comments}})</a>
                </div>
            </div>
          
            <post-like ups="$ctrl.post.ups" name="$ctrl.post.name" />
        </div>
    </div>
</div>