<div class="subreddit-post">
    <div class="modal-backdrop fade show"></div>
    <div class="modal d-block">
        <div class="row">
            <div class="col-sm-1 col-md-2"></div>
            <div class="col col-sm-10 col-md-8">
                <div class="modal-content" ng-show="$ctrl.post != null">
                    <div class="modal-header">
                        <div class="d-flex align-items-start">
                            <div class="d-flex flex-column justify-content-center">
                                <button class="btn btn-icon btn-link" ng-click="$ctrl.onLike($ctrl.post)"><i class="material-icons">keyboard_arrow_up</i></button>
                                <span class="text-center ng-binding" ng-class="{'text-danger': $ctrl.post.liked === -1, 'text-primary': $ctrl.post.liked === 1}">3707</span>
                                <button class="btn btn-icon btn-link" ng-click="$ctrl.onDisLike($ctrl.post)"><i class="material-icons">keyboard_arrow_down</i></button>
                            </div>
                            <div class="flex-grow-1 col">
                                <h4 class="modal-title">{{$ctrl.post.title}}</h4>
                                <span class="text-muted">
                                    Posted by <a ng-href="http://www.reddit.com/u/{{$ctrl.post.author}}">{{$ctrl.post.author}}</a>
                                    <span am-time-ago="$ctrl.post.created_utc | amFromUnix"></span>
                                </span>
                            </div>
                        </div>
                        <button type="button" class="close" ui-sref="subreddit({name: $ctrl.name})">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <p class="text-muted">

                                    <div class="text-muted card-misc-info">
                                        <span>{{$ctrl.post.domain}}</span>
                                        <span>/r/{{$ctrl.post.subreddit}}</span>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" ng-if="$ctrl.post.preview != undefined">
                                <img ng-src="{{$ctrl.post.preview.images[0].source.url}}" class="img-fluid mx-auto d-block" />
                            </div>
                            <div class="col" ng-if="$ctrl.post.preview == undefined">
                                <span ng-bind-html="$ctrl.post.selftext"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr />
                                <h6>{{$ctrl.post.num_comments}} Comments</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col form-group">
                                <button class="btn btn-primary">Reply</button>
                            </div>
                        </div>
                        <div class="row" ng-repeat="c in $ctrl.comments">
                            <app-subreddit-comment comment="c"></app-subreddit-comment>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>