<div class="subreddit-post">
    <div class="modal-backdrop fade show"></div>
    <div class="modal d-block">
        <div class="row">
            <div class="col-sm-1 col-md-2"></div>
            <div class="col col-sm-10 col-md-8">
                <div class="modal-content" ng-show="$ctrl.post != null">
                    <div class="modal-header">
                        <div class="d-flex align-items-start">

                            <post-like ups="$ctrl.post.ups" name="$ctrl.post.name"/>
                            
                            <div class="flex-grow-1 col">
                                <h4 class="modal-title">{{$ctrl.post.title}}</h4>
                                <div class="text-muted mb-2">
                                    Posted by <a ng-href="http://www.reddit.com/u/{{$ctrl.post.author}}">{{$ctrl.post.author}}</a>
                                    <span am-time-ago="$ctrl.post.created_utc | amFromUnix"></span>
                                </div>
                                <div class="text-muted card-misc-info mb-3 small">
                                    <span>
                                        <a ng-href="{{$ctrl.post.url}}" target="_blank" href="#">({{$ctrl.post.domain}})</a>
                                    </span>
                                    <span>
                                        <a ui-sref="subreddit({name: $ctrl.post.subreddit})">/r/{{$ctrl.post.subreddit}}</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="close" ui-sref="^">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <small class="float-right">{{$ctrl.post.upvote_ratio * 100}}% Upvoted</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" ng-if="$ctrl.post.preview != undefined">
                                <img ng-src="{{$ctrl.post.preview.images[0].source.url}}" class="img-fluid mx-auto d-block" />
                            </div>
                            <div class="col" ng-if="$ctrl.post.preview == undefined">
                                <span ng-bind-html="$ctrl.post.selftext"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr />
                                <h6>{{$ctrl.post.num_comments}} Comments</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col form-group">
                                <button class="btn btn-primary">Reply</button>
                            </div>
                        </div>
                        <div class="row" ng-repeat="c in $ctrl.comments">
                            <app-subreddit-comment comment="c" depth="0"></app-subreddit-comment>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>