<!--Modal-->
<div class="subreddit-post">
    <div class="modal-backdrop fade show"></div>
    <div class="modal d-block">
        <div class="row justify-content-center" ui-sref="^">
            <div class="col col-sm-10 col-xl-8">
                <div class="modal-content" ng-show="$ctrl.post != null" ng-click="$event.stopPropagation()">
                    <div class="modal-header">
                        <!--Header-->
                        <div class="d-flex align-items-start">

                            <post-like ups="$ctrl.post.ups" name="$ctrl.post.name" />

                            <div class="flex-grow-1 col">
                                <h5 class="modal-title">{{$ctrl.post.title | htmldecode }}</h5>
                                <div class="text-muted mb-2">
                                    Posted by <a ng-href="http://www.reddit.com/u/{{$ctrl.post.author}}">{{$ctrl.post.author}}</a>
                                    <span am-time-ago="$ctrl.post.created_utc | amFromUnix"></span>
                                </div>
                                <div class="text-muted card-misc-info mb-3 small">
                                    <span>
                                        <a ng-href="{{$ctrl.post.url}}" target="_blank" href="#">({{$ctrl.post.domain}})</a>
                                    </span>
                                    <span>
                                        <a ui-sref="subreddit({name: $ctrl.post.subreddit})">/r/{{$ctrl.post.subreddit}}</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="close" ui-sref="^">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <!--Content-->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <small class="float-right">{{$ctrl.post.upvote_ratio * 100}}% Upvoted</small>
                            </div>
                        </div>
                        <div class="row" ng-if="$ctrl.post.preview != undefined">
                            <div class="col">
                                <post-media post="$ctrl.post" />
                            </div>
                        </div>
                        <div class="row" ng-if="$ctrl.post.post_hint == 'self'">
                            <div class="col">
                                <span ng-bind-html="$ctrl.post.selftext | markdown"></span>
                            </div>
                        </div>
                        <div class="row" ng-if="$ctrl.post.post_hint == 'link'">
                            <div class="col">
                                <a ng-href="{{$ctrl.post.url}}" target="_blank">
                                    {{$ctrl.post.title}}
                                    <i class="material-icons align-middle">
                                        launch
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr />
                                <h6>{{$ctrl.post.num_comments}} Comments</h6>
                            </div>
                        </div>

                        <!--Reply box-->
                        <div class="row">
                            <div class="col form-group">
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col form-group">
                                <button class="btn btn-primary">Reply</button>
                            </div>
                        </div>

                        <!--Spinner-->
                        <div ng-include="'/app/subreddit/subreddit-spinner.template.html'" ng-if="$ctrl.comments.length == 0"></div>

                        <!--Comments-->
                        <div ng-repeat="c in $ctrl.comments" class="row">
                            <app-subreddit-comment comment="c" link="$ctrl.post" depth="0" class="mt-2"></app-subreddit-comment>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
