<div class="card form-group">
    <div class="card-img-top" ng-if="$ctrl.post.preview.images.length > 0">
        <img ng-src="{{$ctrl.post.preview.images[0].source.url}}" class="card-img" />
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col flex-grow">
                <a ui-sref="subreddit.post({id:$ctrl.post.id, post: $ctrl.post})" class="card-post-title">{{$ctrl.post.title}}</a>
                <br />
                <div class="text-muted card-misc-info">
                    <span>/u/{{$ctrl.post.author}}</span>
                    <span>{{$ctrl.post.domain}}</span>
                    <span>/r/{{$ctrl.post.subreddit}}</span>
                    <span am-time-ago="$ctrl.post.created_utc | amFromUnix"></span>
                </div>
                <div class="card-actions">
                    <a ui-sref="subreddit.post({id:$ctrl.post.id})">Comments ({{$ctrl.post.num_comments}})</a>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <button class="btn btn-icon btn-link" ng-click="$ctrl.onLike($ctrl.post)"><i class="material-icons">keyboard_arrow_up</i></button>
                <span class="text-center" ng-class="{'text-danger': $ctrl.post.liked === -1, 'text-primary': $ctrl.post.liked === 1}">{{$ctrl.post.ups}}</span>
                <button class="btn btn-icon btn-link" ng-click="$ctrl.onDisLike($ctrl.post)"><i class="material-icons">keyboard_arrow_down</i></button>
            </div>
        </div>

    </div>
</div>