<div class="card subreddit-cardview form-group" ui-sref=".post({subreddit: $ctrl.post.subreddit, id:$ctrl.post.id, post: $ctrl.post})">
    <div class="card-img-top">
       <post-media post="$ctrl.post"/>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col flex-grow">
                <span class="card-post-title" ng-class="{'text-muted': $ctrl.post.clicked, 'text-success' : $ctrl.post.stickied }">{{$ctrl.post.title}}</span>
                <br />
                <div>
                    Posted by <a ng-href="'www.reddit.com/u/' + $ctrl.post.author" target="_blank">/u/{{$ctrl.post.author}}</a> <span am-time-ago="$ctrl.post.created_utc | amFromUnix"></span>
                </div>
                <div class="text-muted card-misc-info">

                    <span>{{$ctrl.post.domain}}</span>
                    <span>/r/{{$ctrl.post.subreddit}}</span>
                    <span ng-if="$ctrl.post.stickied">Stickied</span>

                </div>
                <div class="card-actions">
                    <a>Comments ({{$ctrl.post.num_comments}})</a>
                </div>
            </div>

            <post-like ups="$ctrl.post.ups" name="$ctrl.post.name" />
        </div>
    </div>
</div>