<div class="card subreddit-listview mb-4" ui-sref=".post({subreddit: $ctrl.post.subreddit, id:$ctrl.post.id, post: $ctrl.post})">

    <div class="card-body">
        <div class="row">
            <div class="card-img-left d-flex align-items-center" ng-if="$ctrl.post.thumbnail !== 'self' && $ctrl.post.thumbnail != '' && $ctrl.post.thumbnail != 'default'">
                <div class="thumbnail" ng-style="{'background-image': 'url(' + $ctrl.post.thumbnail + ')'}"></div>
            </div>
            <div class="col flex-grow">
                <span class="card-post-title" ng-class="{'text-muted': $ctrl.post.clicked, 'text-success' : $ctrl.post.stickied }">{{$ctrl.post.title | htmldecode}}</span>
                <br />
                <div>
                    Posted by <span class="text-primary">/u/{{$ctrl.post.author}}</span>     <span am-time-ago="$ctrl.post.created_utc | amFromUnix"></span>
                </div>
                <div class="text-muted card-misc-info">

                    <span>{{$ctrl.post.domain}}</span>
                    <span>/r/{{$ctrl.post.subreddit}}</span>
                    <span ng-if="$ctrl.post.stickied">Stickied</span>

                </div>
                <div class="card-actions">
                    <span class="text-condensed text-muted">{{$ctrl.post.num_comments}} Comments</span>
                </div>
            </div>

            <post-like ups="$ctrl.post.ups" name="$ctrl.post.name" />
        </div>
    </div>
</div>