<!--Header-->
<div class="content-main subreddit-header mb-4">
    <div class="header-title" ng-if="$ctrl.name != null">
        <div class="container-fluid container-lg pt-3 pb-2">
            <h3>
                <img class="img-circle subreddit-icon" ng-src="{{$ctrl.about.icon_img}}" ng-if="$ctrl.about.icon_img != ''" />
                <default-icon color="$ctrl.about.primary_color" ng-if="$ctrl.about.icon_img == ''" />
                <span>/u/{{$ctrl.name}}</span>
            </h3>
        </div>
    </div>
    <div class="header-pages">

    </div>
    <div class="header-bar">
        <div class="container-fluid container-lg">
            <div class="d-flex align-items-center">
                <div class="col-padded">
                    <span>View | </span>
                    <i class="material-icons align-middle" ng-click="$ctrl.setView('card')">view_agenda</i>
                    <i class="material-icons align-middle" ng-click="$ctrl.setView('list')">calendar_view_day</i>
                    <!--<i class="material-icons align-middle" ng-click="$ctrl.setView('classic')">view_headline</i>-->
                </div>
                <div class="col-padded">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                            Sort:
                            <span class="text-uppercase">{{$ctrl.sort}}</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-item" 
                                 ng-repeat="n in $ctrl.sorts" 
                                 ng-click="$ctrl.setSort(n)"
                                 ng-class="{'active' : $ctrl.sort === n}">{{n}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Body-->
<div class="container-fluid container-lg">
    <div class="row justify-content-end">
        <!--Card View-->
        <div class="col col-md-6" ng-if="$ctrl.view == 'card'">
            <div ng-repeat="p in $ctrl.placeholders" ng-include="'/app/subreddit/subreddit-cardview.placeholder.html'" />
            <div ng-repeat="p in $ctrl.posts">
                <app-subreddit-cardview post="p.data" />
            </div>

            <div ng-include="'/app/subreddit/subreddit-spinner.template.html'" ng-if="$ctrl.loadingMore"></div>
        </div>

        <!--List View-->
        <div class="col" ng-if="$ctrl.view == 'list'">
            <div ng-repeat="p in $ctrl.placeholders" ng-include="'/app/subreddit/subreddit-listview.placeholder.html'" />
            <div ng-repeat="p in $ctrl.posts">
                <app-subreddit-listview post="p.data" />
            </div>

            <div ng-include="'/app/subreddit/subreddit-spinner.template.html'" ng-if="$ctrl.loadingMore"></div>
        </div>
        <app-subreddit-sidebar about="$ctrl.about" rules="$ctrl.rules" class="subreddit-sidebar col-padded"
                               ng-style="{'visibility' : ($ctrl.name == null? 'hidden': 'visible')}" />
    </div>

    <ui-view />

</div>