@import "_variables.scss";

:root{
    --subreddit-primary-color: $color-primary;
    --subreddit-key-color: $color-primary;
}

.subreddit-header {

    .header-title {
        background-color: var(--subreddit-primary-color);
        color: white;
    }

    .header-bar {
        border-bottom: solid 1px #cacaca;
        padding: 0.6rem 0;
    }

    .header-pages {
    }
}

.subreddit-sidebar {
    width: 19rem;

    .subreddit-icon {
        width: 32px;
        height: 32px;
        margin: 0 0.5rem;
    }

    .btn-subscribe{
        background-color: var(--subreddit-key-color);
        border-color: var(--subreddit-key-color);
    }
}

.subreddit-card-placeholder {
    height: 18rem;
    $grey: #c6c6c6;

    .card-img-top {
        height: 13rem;
        background-color: $grey;
    }

    .title {
        height: 1rem;
        border-radius: 0.25rem;
        background-color: $grey;
        width: 100%;
    }

    .sub-title {
        height: 1rem;
        border-radius: 0.25rem;
        background-color: $grey;
    }
}

.subreddit-post {

    .modal-content {
        overflow-y: auto;
        max-height: 100vh;
        display: block;
        box-shadow: $shadow-d3;
        opacity: 1;
        transition: 0.10s $bezier-aceleration;
        transform: translateY(0);
        border-radius: 0;

        &.ng-hide {
            opacity: 0;
            transform: translateY(-50%);
        }

        &.ng-hide-add {
        }

        &.ng-hide-add-active {
        }

        &.ng-hide-remove {
        }

        &.ng-hide-remove-active {
            opacity: 0;
        }
    }

    .modal-header {
        padding-bottom: 0;
    }

    .modal-body {
        padding-top: 0;
    }

    .modal-title {
        font-weight: 300;
    }
}
/*
      COMMENT
      Everything here was done in order to make all h
      comments fit without it overflowing and making the panel x-scrollable
    */
app-subreddit-comment {
    width: 100%;
    padding: 0 0.5rem;
    display: block;

    .post-comment {
        border-left: 2px solid;
        border-color: #0089ff;
        padding-left: 0.5rem;
        margin: 0 0 0rem 0px;
        font-size: 0.9rem;
        color: #111111;
        width: 100%;

        p {
            margin-bottom: 0.2rem;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        a, span {
            word-wrap: break-word;
            overflow-wrap: break-word;
            word-break: break-all;
        }
    }

    .more-comments {
        padding: 0 0.5rem;
    }
}

.subreddit-cardview {
    transition: 0.2s $bezier-deceleration;
    transform: scale(1);
    cursor: pointer;
    /*box-shadow: $shadow-d1;
    border:none;*/
    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.36);
        /*box-shadow: $shadow-d2;
        transform: scale(1.01);*/
    }

    .card-img-top {
        background-color: black;
    }

    iframe {
        display: block;
        margin: auto;
    }
}
