@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "_card.scss";
@import "_subreddit.scss";

/*Scroll bar*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-size: 0.95rem;
    font-family: $font-default;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: $font-default;
}

.content-main {
    margin-top: 80px;
}

.col-padded {
    padding: 0 15px;
}

.btn-icon {
    font-size: 0;
    padding: 0px;
}

.modal-content {
    border: none;
    border-radius: 2px;
}

.img-circle {
    border-radius: 50%;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.freeze-scroll {
    overflow-y: hidden;
}
/*Navbar*/

.navbar {
    background-color: $color-nav-primary;
    color: white;
    //box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

.font-small {
    font-size: 0.8rem;
}


@media (min-width: 1200px) {
    /*To override container fluid on large screen*/
    .container-lg {
        max-width: 1140px;
    }
}

ui-view {
    opacity: 1;
    display: block;

    &.ng-animate {
        opacity: 1;
    }

    &.ng-enter {
        transition: 0.15s $bezier-aceleration;
        opacity: 0;
    }

    &.ng-enter-active {
        opacity: 1;
    }
}

/*html {
    font-size: 1rem;
}

 @media screen and (min-width: $grid-sm) {
    html {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:$grid-md) {
    html {
        font-size: 1.4rem;
    }
}

@media screen and (min-width:$grid-lg) {
    html {
        font-size: 1.6rem;
    }
}*/

youtube-embed {

    .video-responsive {
        overflow: hidden;
        position: relative;
        display: block;

        iframe {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }

    .yt-button {
        display: block;
        height: 68px;
        width: 68px;
        left: 50%;
        right: 50%;
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
    }
}
