@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/*post card view*/
.card-post-title {
  font-size: 1.25rem;
  color: black; }

.card-actions a {
  color: #585858; }

.card-body {
  padding: 1rem 1.25rem; }

.card-misc-info {
  /*font-size: 0.9rem;*/ }
  .card-misc-info span:not(:last-child)::after,
  .card-misc-info a:not(:last-child)::after,
  .card-misc-info div:not(:last-child)::after {
    content: ' \2022'; }

/*Scroll bar*/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #f1f1f1; }

::-webkit-scrollbar-thumb {
  background: #888; }

::-webkit-scrollbar-thumb:hover {
  background: #555; }

body {
  font-size: 0.95rem;
  font-family: "Roboto"; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Roboto"; }

.content-main {
  margin-top: 80px; }

.btn-icon {
  font-size: 0;
  padding: 0px; }

.modal-content {
  border: none;
  border-radius: 2px; }

.modal-header {
  border: none; }

.modal-footer {
  border: none; }

.freeze-scroll {
  overflow-y: hidden; }

/*Navbar*/
.navbar {
  background-color: #084a7a;
  color: white;
  box-shadow: none; }

.font-small {
  font-size: 0.8rem; }

.subreddit-cardview {
  transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
  transform: scale(1);
  cursor: pointer;
  /*box-shadow: $shadow-d1;
    border:none;*/ }
  .subreddit-cardview:hover {
    border: 1px solid rgba(0, 0, 0, 0.36);
    /*box-shadow: $shadow-d2;
        transform: scale(1.01);*/ }
  .subreddit-cardview .card-img-top {
    max-height: 50vh;
    overflow: hidden; }

.subreddit-post .modal-content {
  overflow-y: auto;
  max-height: 100vh;
  display: block;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: 0.1s cubic-bezier(0.4, 0, 1, 1);
  transform: translateY(0); }
  .subreddit-post .modal-content.ng-hide {
    opacity: 0;
    transform: translateY(-50%); }
  .subreddit-post .modal-content.ng-hide-remove-active {
    opacity: 0; }

.subreddit-post .modal-header {
  padding-bottom: 0; }

.subreddit-post .modal-body {
  padding-top: 0; }

.subreddit-post .modal-title {
  font-weight: 300; }

.subreddit-post .post-comment {
  border-left: 2px solid;
  border-color: #0089ff;
  padding-left: 8px;
  margin: 0 0 15px 15px; }

ui-view {
  opacity: 1;
  display: block; }
  ui-view.ng-animate {
    opacity: 1; }
  ui-view.ng-enter {
    transition: 0.15s cubic-bezier(0.4, 0, 1, 1);
    opacity: 0; }
  ui-view.ng-enter-active {
    opacity: 1; }

/*html {
    font-size: 1rem;
}

 @media screen and (min-width: $grid-sm) {
    html {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:$grid-md) {
    html {
        font-size: 1.4rem;
    }
}

@media screen and (min-width:$grid-lg) {
    html {
        font-size: 1.6rem;
    }
}*/

