@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "_card.scss";

/*Scroll bar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-size: 0.95rem;
    font-family: $font-default;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: $font-default;
}

.content-main {
    margin-top: 80px;
}

.btn-icon {
    font-size: 0;
    padding: 0px;
}

.modal-content {
    border: none;
    border-radius: 2px;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.freeze-scroll {
    overflow-y: hidden;
}
/*Navbar*/

.navbar {
    background-color: $color-nav-primary;
    color: white;
    //box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: none;
}

.font-small {
    font-size: 0.8rem;
}

.subreddit-cardview {
    transition: 0.2s $bezier-deceleration;
    transform: scale(1);
    cursor: pointer;

    /*box-shadow: $shadow-d1;
    border:none;*/
    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.36);
        /*box-shadow: $shadow-d2;
        transform: scale(1.01);*/
    }

    .card-img-top {
        max-height: 50vh;
        overflow: hidden;
    }
}

.subreddit-header{

}

.subreddit-post {
    .modal-content {
        overflow-y: auto;
        max-height: 100vh;
        display: block;
        box-shadow: $shadow-d3;
        opacity: 1;
        transition: 0.10s $bezier-aceleration;
        transform: translateY(0);

        &.ng-hide {
            opacity: 0;
            transform: translateY(-50%);
        }

        &.ng-hide-add {
        }

        &.ng-hide-add-active {
        }

        &.ng-hide-remove {
        }

        &.ng-hide-remove-active {
            opacity: 0;
        }
    }

    .modal-header {
        padding-bottom: 0;
    }

    .modal-body {
        padding-top: 0;
    }

    .modal-title {
        font-weight: 300;
    }

    .post-comment {
        border-left: 2px solid;
        border-color: #0089ff;
        padding-left: 8px;
        margin: 0 0 15px 15px;
    }
}

ui-view {
    opacity: 1;
    display: block;

    &.ng-animate {
        opacity: 1;
    }

    &.ng-enter {
        transition: 0.15s $bezier-aceleration;
        opacity: 0;
    }

    &.ng-enter-active {
        opacity: 1;
    }
}

/*html {
    font-size: 1rem;
}

 @media screen and (min-width: $grid-sm) {
    html {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:$grid-md) {
    html {
        font-size: 1.4rem;
    }
}

@media screen and (min-width:$grid-lg) {
    html {
        font-size: 1.6rem;
    }
}*/
